<a href="https://colab.research.google.com/github/PaulinaTarkowsk/sql_recap/blob/main/czyszczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from google.colab import drive
drive.mount('/drive')

dataset_path = '/drive/My Drive/Machine Learning/Google Colab/heart_data.csv'

df = pd.read_csv(dataset_path)
df.head()

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

,age,sex,chestpain,restbp,chol,fbs,restecg,minhr,maxhr,exang,oldpeak,slope,ca,thal,ahd
0,63,Male,typical,145,233.0,Yes,2,NaN,150,No,2.3,3,0.0,fixed,No
1,67,Male,asymptomatic,160,286.0,No,2,NaN,108,Yes,1.5,2,3.0,normal,Yes
2,67,Male,asymptomatic,120,229.0,No,2,NaN,129,Yes,2.6,2,2.0,reversable,Yes
3,37,Male,nonanginal,130,NaN,No,0,NaN,187,No,3.5,3,0.0,REversable,No
4,41,Female,nontypical,130,204.0,No,2,NaN,172,No,1.4,1,0.0,FIXED,No

In [ ]:
df.tail(15)

,age,sex,chestpain,restbp,chol,fbs,restecg,minhr,maxhr,exang,oldpeak,slope,ca,thal,ahd
298,45,Male,typical,110,264.0,No,0,NaN,132,No,1.2,2,0.0,reversable,Yes
299,68,Male,asymptomatic,144,193.0,Yes,0,NaN,141,No,3.4,2,2.0,reversable,Yes
300,57,Male,asymptomatic,130,131.0,No,0,NaN,115,Yes,1.2,2,1.0,reversable,Yes
301,57,Female,nontypical,130,236.0,No,2,NaN,174,No,0.0,2,1.0,normal,Yes
302,38,Male,nonanginal,138,175.0,No,0,NaN,173,No,0.0,1,NaN,normal,No
303,57,Male,asymptomatic,140,192.0,No,0,NaN,148,No,0.4,2,0.0,fixed,No
304,56,Female,nontypical,140,294.0,No,2,NaN,153,No,1.3,2,0.0,normal,No
305,56,Male,nonanginal,130,256.0,Yes,2,NaN,142,Yes,0.6,2,1.0,fixed,Yes
306,44,Male,nontypical,120,263.0,No,0,NaN,173,No,0.0,1,0.0,reversable,No
307,52,Male,nonanginal,172,199.0,Yes,0,NaN,162,No,0.5,1,0.0,reversable,No
308,57,Male,nonanginal,150,168.0,No,0,NaN,174,No,1.6,1,0.0,normal,No
309,48,Male,nontypical,110,229.0,No,0,NaN,168,No,1.0,3,0.0,reversable,Yes
310,54,Male,asymptomatic,140,239.0,No,0,NaN,160,No,1.2,1,0.0,normal,No
311,48,Female,nonanginal,130,275.0,No,0,NaN,139,No,0.2,1,0.0,normal,No
312,49,Male,nontypical,130,266.0,No,0,NaN,171,No,0.6,1,0.0,normal,No

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [ ]:
df.duplicated().sum()

0

In [62]:
df.drop_duplicates(inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        303 non-null    int64
 1   sex        303 non-null    object
 2   chestpain  303 non-null    object
 3   restbp     303 non-null    int64
 4   chol       301 non-null    float64
 5   fbs        303 non-null    object
 6   restecg    303 non-null    int64
 7   minhr      0 non-null      float64
 8   maxhr      303 non-null    int64
 9   exang      303 non-null    object
 10  oldpeak    303 non-null    float64
 11  slope      303 non-null    int64
 12  ca         299 non-null    float64
 13  thal       301 non-null    object
 14  ahd        303 non-null    object
dtypes: float64(4), int64(5), object(6)
memory usage: 37.9+ KB

In [64]:
df.isnull().sum()

age            0
sex            0
chestpain      0
restbp         0
chol           2
fbs            0
restecg        0
minhr        303
maxhr          0
exang          0
oldpeak        0
slope          0
ca             4
thal           2
ahd            0
dtype: int64

# Impute missing values with mean strategy

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")
# Assign diagnosis column to another object, because we cannot impute "mean" value to text column
diagnosis_df = cancer_df["diagnosis"]

# Impute mean values to every numeric column
cancer_df = imputer.fit_transform(cancer_df.drop("diagnosis", axis=1))

# Recreate DataFrame (imputer returns NumPy array)
cancer_df = pd.DataFrame(cancer_df, columns=imputer.get_feature_names_out())
cancer_df = pd.concat([cancer_df, diagnosis_df], axis=1).drop("index", axis=1)

In [65]:
from sklearn.impute import SimpleImputer
import pandas as pd

# Tworzenie obiektu SimpleImputer z użyciem strategii 'median'
imputer = SimpleImputer(strategy="median")

# Usunięcie kolumny 'minhr' przed imputacją
df_without_minhr = df.drop("minhr", axis=1)

# Wyfiltrowanie kolumn liczbowych
numeric_cols = df_without_minhr.select_dtypes(include=["number"]).columns

# Dopasowanie i transformacja (uzupełnienie medianą wartości brakujących)
df_numeric_imputed = pd.DataFrame(imputer.fit_transform(df_without_minhr[numeric_cols]), columns=numeric_cols)

# Zastąpienie starych kolumn liczbowych nowymi w DataFrame bez kolumny 'minhr'
df_without_minhr[numeric_cols] = df_numeric_imputed

# Jeśli chcesz dodać kolumnę 'minhr' z powrotem (lub możesz ją pominąć, jeśli nie jest potrzebna)
#df_without_minhr["minhr"] = df["minhr"]

df = df_without_minhr

# Sprawdzenie, czy wartości zostały uzupełnione
print(df.isnull().sum())

age          0
sex          0
chestpain    0
restbp       0
chol         0
fbs          0
restecg      0
maxhr        0
exang        0
oldpeak      0
slope        0
ca           0
thal         2
ahd          0
dtype: int64

In [ ]:
df.isnull().sum()

age          0
sex          0
chestpain    0
restbp       0
chol         0
fbs          0
restecg      0
maxhr        0
exang        0
oldpeak      0
slope        0
ca           0
thal         2
ahd          0
dtype: int64

In [66]:
# How many unique values are in sex variable

nunique_sex = df["sex"].nunique()
print(f"Number of unique values in sex variable: {nunique_sex}")

print("--------------------------------")

# How many observations (rows) are per every value of sex variable

df["sex"].value_counts()

Number of unique values in sex variable: 2
--------------------------------

sex
Male      206
Female     97
Name: count, dtype: int64

In [67]:
# How many unique values are in chestpain variable

nunique_chestpain = df["chestpain"].nunique()
print(f"Number of unique values in chestpain variable: {nunique_chestpain}")

print("--------------------------------")

# How many observations (rows) are per every value of chestpain variable

df["chestpain"].value_counts()

Number of unique values in chestpain variable: 7
--------------------------------

chestpain
asymptomatic     143
nonanginal        86
nontypical        48
typical           23
nontypica          1
asymptomaticc      1
nontypiccal        1
Name: count, dtype: int64

In [68]:
df["chestpain"] = df["chestpain"].replace("nontypiccal", "nontypical")
df["chestpain"] = df["chestpain"].replace("nontypica", "nontypical")
df["chestpain"] = df["chestpain"].replace("asymptomaticc", "asymptomatic")

df["chestpain"].value_counts()

chestpain
asymptomatic    144
nonanginal       86
nontypical       50
typical          23
Name: count, dtype: int64

In [69]:
# How many unique values are in fbs variable

nunique_fbs = df["fbs"].nunique()
print(f"Number of unique values in fbs variable: {nunique_fbs}")

print("--------------------------------")

# How many observations (rows) are per every value of fbs variable

df["fbs"].value_counts()

Number of unique values in fbs variable: 2
--------------------------------

fbs
No     258
Yes     45
Name: count, dtype: int64

In [70]:
# How many unique values are in exang variable

nunique_exang = df["exang"].nunique()
print(f"Number of unique values in exang variable: {nunique_exang}")

print("--------------------------------")

# How many observations (rows) are per every value of exang variable

df["exang"].value_counts()

Number of unique values in exang variable: 2
--------------------------------

exang
No     204
Yes     99
Name: count, dtype: int64

In [71]:
# How many unique values are in thal variable

nunique_thal = df["thal"].nunique()
print(f"Number of unique values in thal variable: {nunique_thal}")

print("--------------------------------")

# How many observations (rows) are per every value of thal variable

df["thal"].value_counts()

Number of unique values in thal variable: 8
--------------------------------

thal
normal         163
reversable     116
fixed           17
REversable       1
FIXED            1
Reversabble      1
Normal           1
Fixed            1
Name: count, dtype: int64

In [72]:
df["thal"] = df["thal"].str.lower()
df["thal"] = df["thal"].replace("reversabble", "reversable")
df["thal"].value_counts()

thal
normal        164
reversable    118
fixed          19
Name: count, dtype: int64

In [73]:
# How many unique values are in ahd variable

nunique_ahd = df["ahd"].nunique()
print(f"Number of unique values in ahd variable: {nunique_ahd}")

print("--------------------------------")

# How many observations (rows) are per every value of ahd variable

df["ahd"].value_counts()

Number of unique values in ahd variable: 3
--------------------------------

ahd
No     163
Yes    139
no       1
Name: count, dtype: int64

In [74]:
df["ahd"] = df["ahd"].str.capitalize()

In [75]:
df = df.dropna(subset=["thal"])

In [76]:
df.isnull().sum()

age          0
sex          0
chestpain    0
restbp       0
chol         0
fbs          0
restecg      0
maxhr        0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
ahd          0
dtype: int64

In [79]:
df.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_clean.csv", index=False)

In [80]:
df_objects = df.select_dtypes(include="object").columns

In [81]:
df_objects

Index(['sex', 'chestpain', 'fbs', 'exang', 'thal', 'ahd'], dtype='object')

In [85]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

dataset_path = '/drive/My Drive/Machine Learning/Google Colab/heart_data_clean.csv'
df = pd.read_csv(dataset_path)

# Inicjalizacja OneHotEncoder
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Przekształcenie zmiennych kategorycznych
encoded_data = encoder.fit_transform(df[["sex", "chestpain", "exang", "thal", "fbs", "ahd"]])

# Tworzenie DataFrame z zakodowanymi danymi
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(["sex", "chestpain", "exang", "thal", "fbs", "ahd"]))

# Łączenie zakodowanych danych z oryginalnym DataFrame
df_encode = pd.concat([df, encoded_df], axis=1)

# Usunięcie oryginalnych kolumn kategorycznych
df_encode.drop(columns=["sex","chestpain", "exang", "thal", "fbs", "ahd"], inplace=True)

# Wyświetlenie końcowego DataFrame
print(df_encode.tail(10))

      age  restbp   chol  restecg  maxhr  oldpeak  slope   ca  sex_Female  \
291  63.0   140.0  187.0      2.0  144.0      4.0    1.0  2.0         0.0
292  63.0   124.0  197.0      0.0  136.0      0.0    2.0  0.0         1.0
293  41.0   120.0  157.0      0.0  182.0      0.0    1.0  0.0         0.0
294  59.0   164.0  176.0      2.0   90.0      1.0    2.0  2.0         0.0
295  57.0   140.0  241.0      0.0  123.0      0.2    2.0  0.0         1.0
296  45.0   110.0  264.0      0.0  132.0      1.2    2.0  0.0         0.0
297  68.0   144.0  193.0      0.0  141.0      3.4    2.0  2.0         0.0
298  57.0   130.0  131.0      0.0  115.0      1.2    2.0  1.0         0.0
299  57.0   130.0  236.0      2.0  174.0      0.0    2.0  1.0         1.0
300  38.0   138.0  175.0      0.0  173.0      0.0    1.0  0.0         0.0

     sex_Male  ...  chestpain_typical  exang_No  exang_Yes  thal_fixed  \
291       1.0  ...                0.0       0.0        1.0         0.0
292       0.0  ...                0.0       0.0        1.0         0.0
293       1.0  ...                0.0       1.0        0.0         0.0
294       1.0  ...                0.0       1.0        0.0         1.0
295       0.0  ...                0.0       0.0        1.0         0.0
296       1.0  ...                1.0       1.0        0.0         0.0
297       1.0  ...                0.0       1.0        0.0         0.0
298       1.0  ...                0.0       0.0        1.0         0.0
299       0.0  ...                0.0       1.0        0.0         0.0
300       1.0  ...                0.0       1.0        0.0         0.0

     thal_normal  thal_reversable  fbs_No  fbs_Yes  ahd_No  ahd_Yes
291          0.0              1.0     1.0      0.0     0.0      1.0
292          1.0              0.0     1.0      0.0     0.0      1.0
293          1.0              0.0     1.0      0.0     1.0      0.0
294          0.0              0.0     0.0      1.0     0.0      1.0
295          0.0              1.0     1.0      0.0     0.0      1.0
296          0.0              1.0     1.0      0.0     0.0      1.0
297          0.0              1.0     0.0      1.0     0.0      1.0
298          0.0              1.0     1.0      0.0     0.0      1.0
299          1.0              0.0     1.0      0.0     0.0      1.0
300          1.0              0.0     1.0      0.0     1.0      0.0

[10 rows x 23 columns]

In [86]:
df = df_encode

In [87]:
df.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_numerics.csv", index=False)

In [88]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

dataset_path = '/drive/My Drive/Machine Learning/Google Colab/heart_data_numerics.csv'
df = pd.read_csv(dataset_path)

# Inicjalizacja MinMaxScaler
scaler = MinMaxScaler()

# Normalizacja danych
heart_data_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# Wyświetlenie znormalizowanych danych
print(heart_data_normalized)

          age    restbp      chol  restecg     maxhr   oldpeak  slope  \
0    0.708333  0.481132  0.244292      1.0  0.603053  0.370968    1.0
1    0.791667  0.622642  0.365297      1.0  0.282443  0.241935    0.5
2    0.791667  0.245283  0.235160      1.0  0.442748  0.419355    0.5
3    0.166667  0.339623  0.260274      0.0  0.885496  0.564516    1.0
4    0.250000  0.339623  0.178082      1.0  0.770992  0.225806    0.0
..        ...       ...       ...      ...       ...       ...    ...
296  0.333333  0.150943  0.315068      0.0  0.465649  0.193548    0.5
297  0.812500  0.471698  0.152968      0.0  0.534351  0.548387    0.5
298  0.583333  0.339623  0.011416      0.0  0.335878  0.193548    0.5
299  0.583333  0.339623  0.251142      1.0  0.786260  0.000000    0.5
300  0.187500  0.415094  0.111872      0.0  0.778626  0.000000    0.0

           ca  sex_Female  sex_Male  ...  chestpain_typical  exang_No  \
0    0.000000         0.0       1.0  ...                1.0       1.0
1    1.000000         0.0       1.0  ...                0.0       0.0
2    0.666667         0.0       1.0  ...                0.0       0.0
3    0.000000         0.0       1.0  ...                0.0       1.0
4    0.000000         1.0       0.0  ...                0.0       1.0
..        ...         ...       ...  ...                ...       ...
296  0.000000         0.0       1.0  ...                1.0       1.0
297  0.666667         0.0       1.0  ...                0.0       1.0
298  0.333333         0.0       1.0  ...                0.0       0.0
299  0.333333         1.0       0.0  ...                0.0       1.0
300  0.000000         0.0       1.0  ...                0.0       1.0

     exang_Yes  thal_fixed  thal_normal  thal_reversable  fbs_No  fbs_Yes  \
0          0.0         1.0          0.0              0.0     0.0      1.0
1          1.0         0.0          1.0              0.0     1.0      0.0
2          1.0         0.0          0.0              1.0     1.0      0.0
3          0.0         0.0          0.0              1.0     1.0      0.0
4          0.0         1.0          0.0              0.0     1.0      0.0
..         ...         ...          ...              ...     ...      ...
296        0.0         0.0          0.0              1.0     1.0      0.0
297        0.0         0.0          0.0              1.0     0.0      1.0
298        1.0         0.0          0.0              1.0     1.0      0.0
299        0.0         0.0          1.0              0.0     1.0      0.0
300        0.0         0.0          1.0              0.0     1.0      0.0

     ahd_No  ahd_Yes
0       1.0      0.0
1       0.0      1.0
2       0.0      1.0
3       1.0      0.0
4       1.0      0.0
..      ...      ...
296     0.0      1.0
297     0.0      1.0
298     0.0      1.0
299     0.0      1.0
300     1.0      0.0

[301 rows x 23 columns]

In [89]:
heart_data_normalized.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_normalized.csv", index=False)

In [90]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

dataset_path = '/drive/My Drive/Machine Learning/Google Colab/heart_data_numerics.csv'
df = pd.read_csv(dataset_path)


# Inicjalizacja StandardScaler
scaler = StandardScaler()

# Standaryzacja danych
heart_data_standardized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# Wyświetlenie standaryzowanych danych
print(heart_data_standardized)

heart_data_standardized.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_standardized.csv", index=False)

          age    restbp      chol   restecg     maxhr   oldpeak     slope  \
0    0.944322  0.753741 -0.267643  1.016796  0.013101  1.082105  2.271135
1    1.386204  1.604738  0.756022  1.016796 -1.827163  0.393311  0.647354
2    1.386204 -0.664588 -0.344900  1.016796 -0.907031  1.340403  0.647354
3   -1.927913 -0.097257 -0.132442 -0.996728  1.634286  2.115297  2.271135
4   -1.486031 -0.097257 -0.827761  1.016796  0.977049  0.307211 -0.976426
..        ...       ...       ...       ...       ...       ...       ...
296 -1.044149 -1.231920  0.331104 -0.996728 -0.775584  0.135013  0.647354
297  1.496675  0.697007 -1.040220 -0.996728 -0.381241  2.029197  0.647354
298  0.281498 -0.097257 -2.237714 -0.996728 -1.520452  0.135013  0.647354
299  0.281498 -0.097257 -0.209699  1.016796  1.064681 -0.898179  0.647354
300 -1.817443  0.356608 -1.387879 -0.996728  1.020865 -0.898179 -0.976426

           ca  sex_Female  sex_Male  ...  chestpain_typical  exang_No  \
0   -0.714692   -0.684319  0.684319  ...           3.476630  0.694808
1    2.496088   -0.684319  0.684319  ...          -0.287635 -1.439246
2    1.425828   -0.684319  0.684319  ...          -0.287635 -1.439246
3   -0.714692   -0.684319  0.684319  ...          -0.287635  0.694808
4   -0.714692    1.461306 -1.461306  ...          -0.287635  0.694808
..        ...         ...       ...  ...                ...       ...
296 -0.714692   -0.684319  0.684319  ...           3.476630  0.694808
297  1.425828   -0.684319  0.684319  ...          -0.287635  0.694808
298  0.355568   -0.684319  0.684319  ...          -0.287635 -1.439246
299  0.355568    1.461306 -1.461306  ...          -0.287635  0.694808
300 -0.714692   -0.684319  0.684319  ...          -0.287635  0.694808

     exang_Yes  thal_fixed  thal_normal  thal_reversable    fbs_No   fbs_Yes  \
0    -0.694808    3.852545    -1.094112         -0.80300 -2.416797  2.416797
1     1.439246   -0.259569     0.913984         -0.80300  0.413771 -0.413771
2     1.439246   -0.259569    -1.094112          1.24533  0.413771 -0.413771
3    -0.694808   -0.259569    -1.094112          1.24533  0.413771 -0.413771
4    -0.694808    3.852545    -1.094112         -0.80300  0.413771 -0.413771
..         ...         ...          ...              ...       ...       ...
296  -0.694808   -0.259569    -1.094112          1.24533  0.413771 -0.413771
297  -0.694808   -0.259569    -1.094112          1.24533 -2.416797  2.416797
298   1.439246   -0.259569    -1.094112          1.24533  0.413771 -0.413771
299  -0.694808   -0.259569     0.913984         -0.80300  0.413771 -0.413771
300  -0.694808   -0.259569     0.913984         -0.80300  0.413771 -0.413771

       ahd_No   ahd_Yes
0    0.920123 -0.920123
1   -1.086812  1.086812
2   -1.086812  1.086812
3    0.920123 -0.920123
4    0.920123 -0.920123
..        ...       ...
296 -1.086812  1.086812
297 -1.086812  1.086812
298 -1.086812  1.086812
299 -1.086812  1.086812
300  0.920123 -0.920123

[301 rows x 23 columns]

In [93]:
X = heart_data_standardized.drop("ahd_Yes", axis=1)
y = heart_data_standardized["ahd_Yes"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# Split train data into valid and test set (70% training set, 30% valid set). In result we have: 70% training set, 15% valid set, 15% test set
X_test, X_valid, y_test, y_valid = train_test_split(X_test, y_test, test_size=0.5, random_state=42)


print(X_train.shape, X_valid.shape, X_test.shape)

(210, 22) (46, 22) (45, 22)

In [94]:
X_train.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_train.csv", index=False)
X_valid.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_valid.csv", index=False)
X_test.to_csv("/drive/My Drive/Machine Learning/Google Colab/heart_data_test.csv", index=False)

In [95]:
df = X_train

In [96]:
df

,age,restbp,chol,restecg,maxhr,oldpeak,slope,ca,sex_Female,sex_Male,...,chestpain_nontypical,chestpain_typical,exang_No,exang_Yes,thal_fixed,thal_normal,thal_reversable,fbs_No,fbs_Yes,ahd_No
185,-1.375561,-0.664588,-0.132442,-0.996728,1.940997,-0.209384,2.271135,-0.714692,-0.684319,0.684319,...,-0.446322,-0.287635,0.694808,-0.694808,-0.259569,-1.094112,1.24533,-2.416797,2.416797,0.920123
72,0.833851,-0.664588,0.389048,-0.996728,-2.221505,0.651609,0.647354,1.425828,-0.684319,0.684319,...,-0.446322,-0.287635,-1.439246,1.439246,-0.259569,-1.094112,1.24533,0.413771,-0.413771,-1.086812
15,0.281498,1.037406,-1.523080,-0.996728,1.064681,0.479410,-0.976426,-0.714692,-0.684319,0.684319,...,-0.446322,-0.287635,0.694808,-0.694808,-0.259569,0.913984,-0.80300,0.413771,-0.413771,0.920123
10,0.281498,0.470075,-1.059534,-0.996728,-0.074531,-0.553782,0.647354,-0.714692,-0.684319,0.684319,...,-0.446322,-0.287635,0.694808,-0.694808,3.852545,-1.094112,-0.80300,0.413771,-0.413771,0.920123
196,-1.044149,0.356608,-0.209699,1.016796,0.100733,-0.725980,0.647354,-0.714692,1.461306,-1.461306,...,-0.446322,-0.287635,-1.439246,1.439246,-0.259569,0.913984,-0.80300,0.413771,-0.413771,0.920123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,1.607145,0.470075,0.137960,1.016796,-0.162162,0.823807,0.647354,2.496088,-0.684319,0.684319,...,-0.446322,-0.287635,0.694808,-0.694808,-0.259569,-1.094112,1.24533,0.413771,-0.413771,-1.086812
71,1.386204,-0.380923,0.137960,-0.996728,0.582707,-0.725980,0.647354,1.425828,-0.684319,0.684319,...,-0.446322,-0.287635,0.694808,-0.694808,-0.259569,-1.094112,1.24533,-2.416797,2.416797,-1.086812
106,0.281498,-0.210723,-0.344900,1.016796,0.013101,-0.553782,0.647354,0.355568,-0.684319,0.684319,...,-0.446322,-0.287635,0.694808,-0.694808,-0.259569,-1.094112,1.24533,0.413771,-0.413771,-1.086812
270,-0.933678,0.470075,1.238882,-0.996728,-1.301373,0.651609,0.647354,1.425828,-0.684319,0.684319,...,-0.446322,-0.287635,-1.439246,1.439246,-0.259569,-1.094112,1.24533,0.413771,-0.413771,-1.086812
102,1.828086,-1.231920,0.350419,1.016796,-0.863215,-0.898179,-0.976426,0.355568,1.461306,-1.461306,...,-0.446322,-0.287635,0.694808,-0.694808,-0.259569,0.913984,-0.80300,-2.416797,2.416797,0.920123